.paginator {
    margin: 10px;
}

.pageNumber {
    border-bottom: 2px solid grey;
    margin: 0 2px;
    padding: 2px;
    cursor: pointer;
}

.selectedPage {
    font-weight: bold;
    border-color: black;
}
